.first-container{
    height: 10vh;
    margin: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.second-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-container{
    background-color: #F0F8FF;
    padding: 5px;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 15vw;
    margin-right: 20px;
    font-size: 25px
}

.input:focus {
    outline: none;
  }